#poem{
    color: #523C00;
    text-align: center;
    line-height: 30px;
}
#title{
    text-align: center;
    color:red;
    text-decoration: underline;
}
#poet{
    text-align: center;
    color:black;
}
body{
    font-family: Georgia;
}

#link{
    text-decoration: none;
    color:rgb(2, 184, 2);
}

button{
    background-color: white;
    color: blueviolet;
}

textarea{
    color:#000000;
}