#container{
    height:600px;
    width:70%;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items:flex-start;
    /* align-content: flex-start; */
}
#org{
    /* align-self: flex-end; */
    /* Flex-Shorthand */
    flex:2 100px;   /*flex-grow|flex-basis*/
    /* flex-shrink:3; */
    /* limit the element if row -> width && column -> height*/

    /* max-width:280px;
    min-width: 250px; */
}
#green{
    flex-grow:2;
    /* we can also limit the size of element */
    /* max-width: 410px; */
    min-width: 590px;

    /* limit the element if row -> width && column -> height*/
}

#red{
    flex-grow: 1;
    min-width: 900;
}

h1{
    text-align: center;
}

#container div{
    height:150px;
    width:300px;
    color:white;
    text-align:center;
    font-size:1.5em;
}