#box{
    height:50px;
    width:200px;
    background-color: rgb(0, 213, 255);
    text-align:center;
    margin:0 auto;
    margin-top:20px;

    /* Box-Shadow */
    box-shadow: 2px 2px 10px black;
}