h1{
    border:2px solid black;
    width:50%;
}



#inner{
    height:75px;
    width:75px;
    background-color: cornflowerblue;
    margin-left:10%;
}

#outer{
    height:300px;
    width:300px;
    background-color: pink;
    margin:50px; 
}