#login,#signup{
    background-color: aqua;
    color:black;
}

*{
     font-family: Arial, Helvetica, sans-serif;
}

.up_v{
    background-color: red;
    color:rgb(255, 255, 0);
}

/* descendant selector */
 
p a{
    color:purple;
    background-color: yellow;
}

.follow_link a{
    color:rgb(68, 255, 0);
    background-color: rgb(238, 136, 41);
}

header nav ul li a{
    background-color: burlywood;
    color:brown;
}

